<h1>Hello World</h1>

<%# <form>
<label for="ask">ask me!</label> <br>
<input type="text" id="ask">
<button action="submit" >submit</button>
</form> %>

<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
